/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}


.container {
    display: flex;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.input-section, .output-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0.5;
    padding: 0 10px;
}

textarea, #output-text {
    flex-grow: 1;
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: #808080; 
    color: #FFFFFF; 
    border: none; 
    padding: 10px; 
    box-sizing: border-box; 
}

textarea {
    resize: none; 
    align-self: flex-start;
}

#output-text {
    white-space: pre-line;
    align-self: flex-start;
    overflow: auto; 
    padding: 10px;
    font-weight: bold;
}

.button-section button {
    background-color: #4CAF50; /* A nice green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button hover */
}

.button-section button:hover {
    background-color: #45a049; /* A darker green on hover */
}

/* Extra styles for the Save as Text File button for differentiation */
#save-text-button {
    background-color: #008CBA; /* Blue */
}

#save-text-button:hover {
    background-color: #007B9A; /* Darker blue on hover */
}

textarea::placeholder {
    color: #c0c0c0;
    opacity: 1;
}


.image-above,
.image-below {
    padding-left: 14px;
}